.page__body {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

.page__bodyWrapper {
  grid-row: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [header-start] min-content [header-end appBody-start] 1fr [appBody-end];
      grid-template-rows: [header-start] -webkit-min-content [header-end appBody-start] 1fr [appBody-end];
      grid-template-rows: [header-start] min-content [header-end appBody-start] 1fr [appBody-end];
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.page__header {
  grid-row: header-start / header-end;
  z-index: 1;
}

.page__main {
  grid-row: appBody-start / appBody-end;
}

.page__popup {
  position: absolute;
  top: -72px;
  left: calc(50% - 160px);
}

@media (max-width: 480px) {
  .page__popup {
    left: calc(50% - 105px);
  }
}

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  background-color: #ffffff;
  color: #2d2d36;
  margin: 0 5px;
  padding: 15px 30px;
  -webkit-box-shadow: 0 2px 10px grey;
          box-shadow: 0 2px 10px grey;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1600px) {
  .header {
    margin: 0 10px;
    padding: 20px 30px;
  }
}

.header__title {
  margin: 0;
  letter-spacing: 0.05ch;
}

@media (max-width: 480px) {
  .header__title {
    margin: 0;
    letter-spacing: 0.05ch;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .header__title {
    font-size: 40px;
  }
}

@media (min-width: 480px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .header__icon {
    width: 38px;
    height: 38px;
  }
  .header__button--closed .header__icon--cross {
    display: none;
  }
  .header__nav--closed {
    display: none;
  }
  .header__button--opened .header__icon--menu {
    display: none;
  }
  .header__nav--opened {
    display: block;
  }
}

@media (max-width: 480px) {
  .header__nav {
    background-color: #2d2d36;
    position: absolute;
    top: 50px;
    right: 35px;
    z-index: 1;
    padding: 25px;
    border-radius: 15px;
  }
}

.header__menu {
  list-style: none;
  padding: 0;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: min-content;
      grid-template-columns: -webkit-min-content;
      grid-template-columns: min-content;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header__menuLink {
  border-bottom: 0 solid #545463;
  -webkit-transition: border-bottom 50ms ease-out;
  transition: border-bottom 50ms ease-out;
  text-decoration: none;
  color: #545463;
  font-size: 18px;
  font-weight: 300;
}

.header__menuLink--current {
  border-bottom: solid 2px #545463;
}

.header__menuLink:hover, .header__menuLink:active, .header__menuLink:focus {
  border-bottom: solid 2px #545463;
  outline: none;
  -webkit-transition: border-bottom 100ms ease;
  transition: border-bottom 100ms ease;
}

.header__menuLink span {
  display: inline-block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.header__menuLink:hover span, .header__menuLink:focus span {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

.header__menuLink--current span {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 480px) {
  .header__menu {
    margin: 0;
    grid-auto-flow: row;
    row-gap: 25px;
  }
  .header__menu .header__menuLink {
    color: #f3f3f3;
  }
  .header__menu .header__menuLink--current {
    border-bottom: solid 2px #f3f3f3;
  }
  .header__menu .header__menuLink:hover, .header__menu .header__menuLink:active, .header__menu .header__menuLink:focus {
    border-bottom: 2px solid #f3f3f3;
  }
}

@media (min-width: 1600px) {
  .header__menuLink {
    font-size: 24px;
  }
}

.popup {
  background-color: #2d2d36;
  padding: 20px 45px;
  min-width: 20ch;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
  color: #f3f3f3;
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.62, -0.15, 0.12, 1.31);
  transition: -webkit-transform 800ms cubic-bezier(0.62, -0.15, 0.12, 1.31);
  transition: transform 800ms cubic-bezier(0.62, -0.15, 0.12, 1.31);
  transition: transform 800ms cubic-bezier(0.62, -0.15, 0.12, 1.31), -webkit-transform 800ms cubic-bezier(0.62, -0.15, 0.12, 1.31);
}

@media (min-width: 1600px) {
  .popup {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .popup {
    font-size: 18px;
    padding: 15px 25px;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #2d2d36;
}

.main__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__title {
  margin: 0;
  padding: 20px 30px;
  background-color: #2d2d36;
  border-radius: 15px;
  min-width: 50vw;
  color: #f3f3f3;
  font-size: 32px;
  text-align: center;
}

@media (min-width: 1600px) {
  .main__title {
    padding: 30px 30px;
    font-size: 40px;
    min-width: 30vw;
  }
}

@media (min-width: 890px) {
  .main__title {
    min-width: 75vw;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 24px;
    min-width: 80vw;
  }
}

@media (max-width: 395px) {
  .main__title {
    min-width: 90vw;
  }
}

.main__title span {
  display: block;
}

.main__buttonsWrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (max-width: 480px) {
  .main__buttonsWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 80%;
  }
}

.main__button {
  display: block;
  border: solid 3px #2d2d36;
  border-radius: 30px;
  background-color: transparent;
  padding: 15px 30px 13px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #2d2d36;
  -webkit-transition-property: color, background-color, -webkit-transform;
  transition-property: color, background-color, -webkit-transform;
  transition-property: color, background-color, transform;
  transition-property: color, background-color, transform, -webkit-transform;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@media (min-width: 1600px) {
  .main__button {
    padding: 20px 35px 18px;
    border: solid 4px #2d2d36;
    border-radius: 50px;
    font-size: 24px;
  }
}

.main__button:first-of-type {
  margin-right: 15px;
}

@media (max-width: 480px) {
  .main__button:first-of-type {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.main__button:focus {
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__button:hover, .main__button:active {
  outline: none;
  background-color: #2d2d36;
  color: #f3f3f3;
}
/*# sourceMappingURL=main.css.map */