.page__body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    display: grid;
}

.page__bodyWrapper {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: [header-start]  min-content [header-end appBody-start] 1fr [appBody-end]; 
    grid-template-columns: 1fr;

}

.page__header {
    grid-row: header-start / header-end;
    z-index: 1;
}

.page__main {
    grid-row: appBody-start / appBody-end;
}

.page__popup {
    position: absolute;
    // top: 100px;
    left: calc(50% - 160px);
}

@media (max-width: 480px) {
    .page__popup {
        left: calc(50% - 105px);
    }    
}