.popup {
    background-color: $color-main;
    padding: 20px 45px;
    width: max-content;
    border-radius: 40px;
    
    font-size: 24px;
    // font-weight: 700;
    text-align: center;
    color: $color-base;
    transition: transform 800ms cubic-bezier(.62,-0.15,.12,1.31);
}

@media (max-width: 480px) {
    .popup {
        font-size: 18px;
        padding: 15px 25px;
    }
}